body{   
    background: #e6e6e6;  
}  
.Table{
  background: white;
  bottom-top: 40px;
  box-shadow: 4px 4px 40px 4px black;
  margin-top: 40px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}  